<!DOCTYPE html>


<!-- List posts -->
{% for entry in object_list.items %}
<img class="img-fluid rounded mb-1" src="{{ url_for('static', filename='/img/' + entry.image_url )}}" alt="{{ entry.title }}"> 
     <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ entry.title }}</h2>
          <p class="card-text">{{ entry.body }}</p>
          <a href="{{ url_for('entries.detail', slug=entry.slug) }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ entry.created_timestamp.strftime('%B %d, %Y') }} by Jonas
        </div>
      </div>
{% endfor %}
<!-- End List posts -->

   