{% extends "layout.html" %}

{% block main  %}
<header style="background-color: #f9f9ff; color: #222222; padding: 100px 0;">
  <div class="container text-center">
    <h1>Projects</h1>
    <p class="lead">This is a portfolio page where I store all my recent projects</p>
  </div>
</header>

<section class="projects" style="padding: 50px 0 50px 0;">
  {% for project in projects %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{ project[0] }} </h2>
        <h6>Jonas Laurinaitis on {{project[5]}}</h6>
        <a href="{{ project[4] }}" class="btn btn-dark">Code here</a>
        <a href="#" class="btn btn-dark">Read more</a>
      </div>
    </div>
    <hr>
  </div>
  {% endfor %}
</section>

{% endblock %}