/* VARIABLES */
$font: "Poppins", sans-serif;
$color222: #222222;
$bgColor: #f9f9ff;

/* GLOBALS */
body {
    background-color: #ffffff;
    color: #777777;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

/* HOME AREA */
#nav {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    a {
        text-decoration: none;
        color: $color222;
    }
    #logo {
        font-family: $font;
        font-size: 24px;
        font-weight: 400;
    }
    #resumeBtn:hover {
        color: #ffffff;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34,34,34, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
    .custom-toggler.navbar-toggler {
        border-color: $color222;
      } 
}
.banner-area {
    background-color: #f9f9ff;
    h5 {
        color: $color222;
        font-family: $font;
        font-size: 16px;
        font-weight: 600;
    }
    h2 {
        font-family: $font;
        color: $color222;
        font-size: 30px;
        font-weight: 600;
    }
    
}
.banner-right {
    text-align: center;
}
.banner-area .fullscreen {
    height: 650px !important;
}

.section-gap {
    padding: 80px 0;
    h2 {
        font-family: $font;
        font-weight: 600;
        color: $color222;
    }
}