{% extends "layout.html" %}


{% block main %}
<!-- Post Detail Page -->
<div class="container">
    <div class="row">

        <!-- Content Column -->
        <div class="col-md-8">
            <!-- Title -->
            <h1 class="mt-4">{{ entry.title }}</h1>
            <!-- Author -->
            <p class="lead"> by <a href="{{ url_for('about')}}">Jonas</a></p>
            <hr>
            <!-- Date/Time -->
            <p>Posted on {{ entry.created_timestamp.strftime('%B %d, %Y') }} at
                {{ entry.created_timestamp.strftime('%H:%M') }}</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="{{ entry.title }}">
            <hr>
            <p class=>{{ entry.body }}</p>
            <hr>
        </div>

        <!-- Sidebar Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Post Tags -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for tag in entry.tags %}
                        <li><a href="{{ url_for('entries.tag_detail', slug=tag.slug)
                            }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature
                    the new Bootstrap 4 card containers!
                </div>
            </div>
        </div>

    <!-- End Row -->
    </div>
<!-- End Container -->
</div>
{% endblock %}