{% extends "layout.html" %}


{% block main %}
<!-- Main Blog Page -->
<div class="container">
    <div class="row">

        <!-- Post Entries Column -->
        <div class="col-md-8">
            <h2 class="my-4">Blog</h2>
            <hr>
            <p class="lead" style="margin-bottom: 16px;">All blog posts</p>
            {% include "includes/_list.html" %}
            {% include "includes/_page_links.html" %}
        </div>


        <!-- Sidebar Column -->
        <div class="col-md-4">
            {% include "includes/_search.html" %}
            <!-- Posts Categories -->
            <div class="card my-4">
                <h5 class="card-header"><a href="{{ url_for('entries.tag_index') }}">Categories</a></h5>
                <div class="card-body py-2">
                    <ul class="list-unstyled mb-0">
                        {% for tag in tags %}
                        <li><a href="{{ url_for('entries.tag_detail', slug=tag.slug)
                            }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature
                    the new Bootstrap 4 card containers!
                </div>
            </div>
        </div>
    
    <!-- End Row -->
    </div>
<!-- End Container -->
</div>
{% endblock %}